* {
    font-family: "Poppins", "sans-serif";
    font-weight: 600;
    cursor: not-allowed;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #212121;
    width: 100vw;
    height: 100vh;
    margin: 0em;
    background-color: #efefef;
    /* padding: 1em 0em; */
    /* justify-self: center; */
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.2em;
}

i {
    cursor: pointer;
}

p,
h1,
h2,
h3 {
    margin: 0em;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0px;
    background-color: #efefef;
    /* padding: 1em; */
    padding-bottom: 1em;
    width: 100%;
    height: 100%;
}

.options {
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    column-gap: 1em;
}

#shapes {
    width: 5em;
}

.opt {
    width: 4em;
    height: 3em;
    text-align: left;
    border: 2px dashed #212121;
    padding: 0.2em 0.5em;
    cursor: pointer;
}


/* #size {
    width: 80px;
} */

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0px;
    background-color: #fff;
    color: #212121;
    padding: 0.8em 0.5em;
    border-radius: 10px;
    width: 100%;
    height: 4em;
    font-size: 1em;
    cursor: pointer;
}

.box p {
    cursor: pointer;
    margin-top: 0.5em;
}

button {
    width: 5em;
    height: 5em;
    background-color: #fff;
    border: 0px;
    color: #212121;
    padding: 0.2em 0.5em;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
}

label i {
    width: 3em;
    height: 3em;
    padding: 0.2em;
    border: 0px;
    background-color: #efefef;
    cursor: pointer;
    border-radius: 10px;
    color: #212121;
    font-size: 1.3em;
}

input[type="radio"] {
    display: none;
}

.board {
    background-color: #fff;
    width: 90%;
    height: 90%;
    cursor: crosshair;
    border-radius: 15px;
    border: 0px;
    /* border: 2px dashed #212121; */
}

.center {
    width: 100%;
    text-align: center;
    color: #212121;
    margin: 3em 0em 2em 0em;
    position: fixed;
    bottom: 0;
}

.center-2 {
    width: 100%;
    text-align: center;
    color: #212121;
    margin: 1em 0em;
}